@import './../../scss/fonts.scss';
@import './../../scss/variables.scss';

.tabs {
  display: flex;
  margin-bottom: 20px;

  &__btn {
    width: 50%;
    height: $btn-height;
    background: $unactive-tab-bg-color;
    border: 1px solid $mystic;
    font-family: inherit;
    font-weight: $font-weight-semibold;
    font-size: $font-size-text-xs;
    line-height: $line-height-m;
    letter-spacing: $letter-spacing;
    text-transform: uppercase;
    color: $unactive-tab-text-color;
    cursor: pointer;
    transition: border 0.4s;

    &:first-child {
      border-radius: 5px 0 0 5px;
    }

    &:last-child {
      border-radius: 0 5px 5px 0;
    }

    &:hover {
      border: 1px solid #2196f3;
    }

    &--active {
      background: $active-tab-bg-color;
      border: transparent;
      color: $active-tab-text-color;
    }
  }
}
