@import './../../scss/fonts.scss';
@import './../../scss/variables.scss';

.ticket {
  background: $ticket-bg-color;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  padding: 20px;
  display: block;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: $font-weight-semibold;
  font-size: $font-size-text-l;
  line-height: $line-height-l;
  align-items: center;
  color: $price-color;
}

.body {
  margin-top: 20px;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 10px;

  &:last-child {
    margin: 0;
  }
}

.col {
  flex: 0 0 $segment-route-col-width;
  min-width: $segment-route-col-width;
}

.headerRow {
  font-weight: $font-weight-semibold;
  font-size: $font-size-text-xs;
  line-height: $line-height-s;
  letter-spacing: $letter-spacing;
  text-transform: uppercase;
  color: $secondary-text-color;
}

.textRow {
  font-weight: $font-weight-semibold;
  font-size: $font-size-text-m;
  line-height: $line-height-m;
  color: $primary-text-color;
}

@media screen and #{$screen-s} {
  .col {
    flex: 0 0 88px;
    min-width: 88px;
  }
}
