@import './../../scss/variables.scss';

.filter {
  background: $filter-bg-color;
  box-shadow: $box-shadow;
  border-radius: $border-radius;

  &__title {
    font-weight: $font-weight-semibold;
    font-size: $font-size-text-xs;
    line-height: $line-height-xs;
    letter-spacing: $letter-spacing;
    text-transform: uppercase;
    color: $filter-text-color;
    margin: 0;
    padding: 20px 20px 15px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-bottom: 10px;
  }

  &__item {
    font-size: $font-size-text-s;
    line-height: $line-height-m;
    color: $filter-text-color;

    &:hover {
      background: $filter-hover;
    }
  }
}

.check {
  position: relative;
  display: block;
  padding: 10px 20px;
  cursor: pointer;

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    &:checked + .check__box {
      background: url('./check.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__box {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid $checkbox-color;
    border-radius: 2px;
  }

  &__text {
    padding-left: 30px;
    vertical-align: middle;
  }
}
