@import './../../scss/fonts.scss';
@import './../../scss/variables.scss';

.tickets {
  margin-bottom: 20px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  margin-bottom: 20px;
}

.error {
  text-align: center;
  font-size: 14px;
}

.message {
  font-size: 14px;
}

.showMoreBtn {
  font-family: inherit;
  font-weight: $font-weight-semibold;
  font-size: $font-size-text-xs;
  line-height: $line-height-m;
  text-align: center;
  letter-spacing: $letter-spacing;
  text-transform: uppercase;
  color: $btn-show-more-text-color;
  background: $btn-show-more-bg-color;
  border-radius: $border-radius;
  height: $btn-height;
  padding: 0 20px;
  width: 100%;
  border: 0;
  cursor: pointer;
  transition: opacity 0.4s;

  &:hover {
    opacity: 0.8;
  }
}
