@import './../../scss/variables.scss';

.label {
  position: relative;
  display: block;
  padding: 10px 20px;
  cursor: pointer;
}

input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);

  &:checked + .check__box {
    background: url('./check.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

.box {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid $checkbox-color;
  border-radius: 2px;
}

.text {
  padding-left: 30px;
  vertical-align: middle;
}
